

.logo {
    height: 50%;
    width: 350px;
    padding-top: 0px;
    margin-top: 0px;
}

#navbar-container {
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    justify-content: space-around;
    transition: 0.7s;
    padding: 20px 15px;
    z-index: 10;
    background-color: #FFFFFF;
    list-style: none;
    color: #fff;
    height: 95px;
    box-sizing: border-box;
}

.navbar-nav {
    margin-left: 0;
    margin-right: 0;
}

Container.abajo {
    background: #6563F7;
    padding: 10px 20px;
}

Nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    width: 100%;
}

Nav ul {

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

Nav ul li {
    list-style: none;
}

Nav ul li a {
    position: relative;
    font-family: helvetica;
    margin: 0 15px;
    text-decoration: none;
    color: #000;
    letter-spacing: 2px;
    font-weight: 700;
    transition: 0.7s;
}

Nav.abajo.logo {
    color: #FFFFFF
}

Nav.abajo ul li a {
    color: #FFFFFF;
}

.cta {
    width: 100px;
    padding: 10px 24px;
    border-radius: 30px;
    background-color: #84548a;
    color: #FFFFFF;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
    text-align: center;

}